*{
    box-sizing: border-box;
}
body
{
    margin: 0px;
    padding: 0px;
    background-color: #B3E8E5;
}
.toolbox-container
{
    background-color:#2F8F9D;
    height: 5rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    position: fixed;
    width: 100vw;
    top: 0px;
}

.action-btn-container
{
    border: 1px solid black;
    height: 3rem;
    background-color: beige;
    width: 10rem;
    margin-left: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.add-btn
{
    font-size: 1.5rem;
}

.delete-btn
{
    font-size: 1.5rem;
}

.sort-asc-btn
{
    font-size: 1.5rem;
}

.sort-desc-btn
{
    font-size: 1.5rem;
}

.modal-cont
{
    background-color: beige;
    display: none;
    height: 35vh;
    width: 40vw;
    position: absolute;
    top: 15rem;
    left: 25rem;
    border: 1px solid black;
}

span
{
    padding: 1.7rem;
    font-size: 1.5rem;
    overflow-wrap: break-word;
}

.textarea-cont
{
    border: none;
    resize: none;
    width: 95%;
    height: 23%;
    font-size: 1.5rem;
    padding: .9rem;
}

.left-side-text
{
    background-color: beige;
    display: flex;
    flex-direction: column;
    padding-top: 1.2rem;
}

.right-side-text
{
    margin-top: 1.5rem;
    margin-left: 1rem;
    display: flex;
    flex-wrap: wrap;
}

.differentiator
{
    background-color: pink;
    height: 3%;
    width: 100%;
    display: flex;
    border-bottom: 1px solid black;
    margin-top: 5rem;
}

.id
{
    width: 10%;
    overflow-wrap: unset;
}

.name
{
    width: 25%;
}

.desc
{
    width: 50%;
}

.size
{
    width: 15%;
}

.main-cont
{
    /* margin-top: 7rem; */
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.information
{
    display: flex;
    background-color: aquamarine;
    border-bottom: 1px solid black;
}

#enter
{
    background-color: whitesmoke;
    width: 10rem;
}